<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
    {{>headers}}
    <p>This site was created by Andrew Mead. It uses data from mapbox.com and darksky.net!</p>
    <img src="/img/sherwood2.jpg">
    <p>{{name}}</p>
    </div>

    {{>footer}}
</body>


</html>